{% extends 'base.html' %}

{% block content %}

<ul>
	<li><a href="/states/westbengal">West Bengal</a></li>
	<li><a href="/states/maharashtra">Maharashtra</a></li>
	<li><a href="/states/andhrapradesh">Andhra Pradesh</a></li>
	<li><a href="/states/karnataka">Karnataka</a></li>
	<li><a href="/states/tamilnadu">Tamil Nadu</a></li>
	<li><a href="/states/uttarpradesh">Uttar Pradesh</a></li>
	<li><a href="/states/delhi">Delhi</a></li>
	<li><a href="/states/odisha">Odisha</a></li>
	<li><a href="/states/kerala">Kerala</a></li>
	<li><a href="/states/telangana">Telangana</a></li>
	<li><a href="/states/bihar">Bihar</a></li>
	<li><a href="/states/assam">Assam</a></li>
	<li><a href="/states/rajasthan">Rajasthan</a></li>
	<li><a href="/states/gujarat">Gujarat</a></li>
	<li><a href="/states/madhyapradesh">Madhya Pradesh</a></li>
	<li><a href="/states/haryana">Haryana</a></li>
	<li><a href="/states/chhattisgarh">Chhattisgarh</a></li>
	<li><a href="/states/punjab">Punjab</a></li>
	<li><a href="/states/jharkhand">Jharkhand</a></li>
	<li><a href="/states/jammuandkashmir">Jammu and Kashmir</a></li>
	<li><a href="/states/uttarakhand">Uttarakhand</a></li>
	<li><a href="/states/goa">Goa</a></li>
	<li><a href="/states/puducherry">Puducherry</a></li>
	<li><a href="/states/tripura">Tripura</a></li>
	<li><a href="/states/himachalpradesh">Himachal Pradesh</a></li>
	<li><a href="/states/chandigarh">Chandigarh</a></li>
	<li><a href="/states/manipur">Manipur</a></li>
	<li><a href="/states/arunachalpradesh">Arunachal Pradesh</a></li>
	<li><a href="/states/meghalaya">Meghalaya</a></li>
	<li><a href="/states/nagaland">Nagaland</a></li>
	<li><a href="/states/ladakh">Ladakh</a></li>
	<li><a href="/states/andamanandnicobarislands">Andaman and Nicobar Islands</a></li>
	<li><a href="/states/sikkim">Sikkim</a></li>
	<li><a href="/states/mizoram">Mizoram</a></li>
	<li><a href="/states/damananddiudadraandnagarhaveli">Daman and Diu Dadra and Nagar Haveli</a></li>
	<li><a href="/states/lakshadweep">Lakshadweep</a></li>
</ul>

{% endblock %}